{% extends 'layouts/admin/base.html' %}
{% block content %}
	<a href= {% url "song_add" %}>Add Song</a>
{% for song in playlist.songs.all  %}
    <li>{{ song.title }} - {{ song.genre }}</li>
		<audio controls>
		  <source src={{song.audio.url}} >

			Your browser does not support the audio element.
		</audio>

	<!-- <a href= {% url 'song_update' song.pk %}>Update Song</a>
	<a href= {% url 'song_delete' song.pk %}>Delete Song</a> -->
	</br>
	</br>

{% empty %}
    <li>no songs yet.</li>
{% endfor %}
{% endblock %}
