{% extends 'sitearia/base1.html' %}
{% block title %}
Browse Artists
{% endblock %}

{% block content %}
<div class="container" style="margin-top:100px;">
{% for artist in artist_list  %}
    <li>{{ artist.name }} - {{ artist.Location }}</li>
  <a href="{% url 'music:artist_detail' artist.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
	</br>
	</br>
{% empty %}
    <li>No artista yet.</li>
{% endfor %}
</div>
{% endblock %}

{% block footer %}
	<!-- Bottom footer -->
		<div class="footer-bottom" style="background-color:#FFF;">
	 		  <div class="wrap" style="height:40px;">
	     	  	<div class="copy">
				   <h1 style="font-size:13px; color:#000;"> <a href="#" target="_blank"></a>Aria&copy; 2017</h1>
			    </div>
			    <div class="clear"></div>
			  </div>
       </div>
{% endblock %}
