{% extends 'sitearia/base1.html' %}
{% block title %}
Search Results
{% endblock %}

{% block content %}
<div class="container" style="margin-top:100px;">

{% if songs %}
  <h4>Songs containing {{ query }}</h4>
  {% for song in songs  %}
    <li>{{ song.title }} - {{ song.album }}</li>
		<audio controls>
		  <source src='/{{song.audio.url}}' >
			Your browser does not support the audio element.
		</audio>
	</br>
	</br>
    {% endfor %}
{% endif %}


{% if albums %}
  <h4>Albums containing {{ query }}</h4>
  {% for album in albums  %}
    <li>{{ album.name }} - {{ album.year }}</li>
	</br>
	</br>
    {% endfor %}
{% endif %}


{% if artists %}
<h4>Artists containing {{ query }}</h4>
{% for artist in artists  %}
    <li>{{ artist.name }} - {{ artist.genre }}</li>
	</br>
	</br>
{% endfor %}
{% endif %}


{% if playlists %}
<h4>Playlists containing {{ query }}</h4>
{% for playlist in playlists  %}
    <li>{{ playlist.name }} </li>
	</br>
	</br>
{% endfor %}
{% endif %}


{% if genres %}
<h4>Songs with genre containing {{ query }}</h4>
{% for genre in genres  %}
    <li>{{ genre.genre }} - {{ genre.title }} </li>
	</br>
	</br>
{% endfor %}
{% endif %}


</div>
{% endblock %}

{% block footer %}
	<!-- Bottom footer -->
		<div class="footer-bottom" style="background-color:#FFF;">
	 		  <div class="wrap" style="height:40px;">
	     	  	<div class="copy">
				   <h1 style="font-size:13px; color:#000;"> <a href="#" target="_blank"></a>Aria&copy; 2017</h1>
			    </div>
			    <div class="clear"></div>
			  </div>
       </div>
{% endblock %}
