{% extends 'sitearia/base1.html' %}
{% load staticfiles %}
{% block title %}
Browse Songs
{% endblock %}


        {% block head %}

        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
                <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
              <script type="text/javascript" src="{% static 'music/js/highCheckTree.js' %}"></script>
              <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
              <link rel="stylesheet" type="text/css" href="{% static 'music/css/highCheckTree.css' %}"/>
              <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <style>
     #playlist{
         list-style: none;
         display:inline
     }
      ul#playlist li {
 display:inline;
}
     #playlist li a{
         color:black;
         text-decoration: none;
          display:inline
     }
     #playlist .current-song a{
         color:blue;
     }
        </style>
            <style type="text/css">
            body { font-family:'Open Sans'; font-size:14px;}
                #main-container{
                    width: 250px;

                }

                #tree-container label.hover{
                    color: red;
                }
            </style>
        {% endblock %}


{% block content %}
	<!-- Location -->
        <div  style="text-align:center; margin-top:150px;"  >
          <audio style="width:80%;" src="" controls id="audioPlayer">
        Sorry, your browser doesn't support html5!
    </audio>
    </div>


		<!-- Blog Section -->
        <div class="section">
	    	<div class="container">
				<div class="row">
				<!-- Left Sidebar -->


					<div class="col-sm-8" style="width:75%; margin-left:40px; margin-right:-40px;">



		   	<h3 style=" font-size:30px;">Songs</h3>
		<!-- packages -->
	<div class="main" style="margin-left:-70px;">
			 <div class="wrap">
			   <div class="pages" >
			   <!-- Row 1 -->



    <ul id="playlist" >
      {% for song in song_list  %}
	 <div class="col-md-4" style="background-color:#6F6; height:280px; width:30%; padding:10px 10px; margin-top:20px; border-radius:5px; margin-right:20px;">
        <li><a href='/{{song.audio.url}}' >
        <div  style=" height: 200px; width:100%; margin-bottom:10px; background-image:url('/{{ song.album.cover.url }}'); margin-10px;">
          <h4 style="color:#FFF; text-align:center;"></br></br> </br> </br> CLICK TO PLAY </h4>
        </div> {{ song.title }}-{{ song.album.name }} </br> {{ song.genre}} </a></li>
		 </div>
     {% empty %}
       <p>No songs yet.</p>
     {% endfor %}

    </ul>
    </div>

							</div>

                               </div>
				</div>


					<div class="col-sm-4 blog-sidebar" style="width:23%; margin-left:0px;">
						<!-- Search Form -->

	<div class="footer-bottom" style="background-color:#4ecdc4; margin-right:-10px; margin-bottom:20px; margin-top:20px;">
	 		  <div class="wrap">

				<div class="copy">
				   <h1 style="font-size:13px;"><a style="color:#FFF;" target="_blank">Recommended Songs</a></h1>
			    </div>
			    <div class="clear"></div>
			  </div>
       </div>


					     <div class="col-md-4">
    <ul id="playlist" >
      {% for song in song_list  %}
      <div class="col-md-12" style="background-color:#6F6; height:280px; width:400%; padding:10px 10px; margin-top:20px; border-radius:5px; margin-right:20px;">
           <li><a href='/{{song.audio.url}}' >
           <div  style=" height: 200px; width:100%; margin-bottom:10px; background-image:url('/{{ song.album.cover.url }}'); margin-10px;">
             <h4 style="color:#FFF; text-align:center;"></br></br> </br> </br> CLICK TO PLAY </h4>
           </div> {{ song.title }}-{{ song.album.name }} </br> {{ song.genre}} </a></li>
        </div>
     {% endfor %}
    </ul>
    </div>
         </div>
              </div>
                   </div>
                        </div>

              {% endblock %}

    {% block footer %}
    	<!-- Bottom footer -->
    		<div class="footer-bottom" style="background-color:#FFF;">
    	 		  <div class="wrap" style="height:40px;">
    	     	  	<div class="copy">
    				   <h1 style="font-size:13px; color:#000;"> <a href="#" target="_blank"></a>Aria&copy; 2017</h1>
    			    </div>
    			    <div class="clear"></div>
    			  </div>
           </div>
    {% endblock %}


    {% block script %}
    <script src="{% static 'music/js/audioPlayer.js' %}"></script>
    <script>
    // loads the audio player
    audioPlayer();
    </script>

    {% endblock %}
