{% extends 'layouts/admin/base.html' %}
{% block content %}
	<a href= {% url "myAdmin:song_add" %}>Add song</a>
{% for song in song_list  %}
    <li>{{ song.title }} - {{ song.album }}</li>
		<audio controls>
		  <source src='/{{song.audio.url}}' >

			Your browser does not support the audio element.
		</audio>

	<a href= {% url 'myAdmin:song_update' song.pk %}>Update Song</a>
	<a href= {% url 'myAdmin:song_delete' song.pk %}>Delete Song</a>
	</br>
	</br>

{% empty %}
    <li>no songs yet.</li>
{% endfor %}
{% endblock %}
