{% extends 'sitearia/base1.html' %}
{% load staticfiles %}
{% block title %}
Login/Register
{% endblock %}



  {% block head %}
  <script type="text/javascript" src="/my_admin/jsi18n/"></script>
  <script type="text/javascript" src="/media/admin/js/core.js"></script>
  {% endblock %}

{% block content %}


	<div class="footer-bottom" style="background-color:#F44; margin-top:80px;">
	 		  <div class="wrap" >
			  <div class="row">
			  <div class="c2 noleftmargin" style="margin-top:45px;" >
			  	   <h1 style="font-size:30px; color:#000;"> <a href="#" target="_blank"></a>Aria</h1>
				   </div>


           <form class="form-horizontal"  role="form" style=" margin-left:50%; margin-right:-10%;" action="{% url 'authen:login'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="c5 noleftmargin">
                        <input id="id_email" maxlength="30" name="email" type="text" placeholder="E-mail">
                    </div>

                    <div class="c5 noleftmargin">
                        <input id="id_password" maxlength="30" name="password" type="password" placeholder="Password">
                    </div>

                <div class="form-group">
                    <div class="c2 noleftmargin" style="margin-top:10px;">
                        <p><input class="btn2 btn2-main btn-lg glyphicon " name="but1" type="submit" value="Login" /></p>
                    </div>
                </div>
            </form>



       </div>
	    </div>
	   </div>

				<div class="grid" style="margin-top:40px; margin-left:10%; margin-bottom:60px;">

		<div class="row space-top">
			<!-- CONTACT FORM -->

			<div class="c8 space-top" style="width:42%; margin-right:30px;">
				<h1 class="maintitle" >
				<span><i></i> Why Aria?</span>
				</h1>
				<p>
					The  users  of  Aria  can  listen  to  any  music  available  in  theapplication and create their own custom playlists to share withthe world. The users can also listen to playlists of other users todiscover new music.
					<br><br>
					The playlist can be upvoted by users andthe top playlists will be featured in the application. The results will be published atthe end of each week and new top songs and playlists will befeatured for the next week
				</p>
			</div>

			<div class="c8 space-top" style="width:50%;">
				<h3 style=" font-size:20px;" class="maintitle">
				<span></i> Register</span>
				</h3>
				<div class="wrapcontact">
          {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
          <form class="form-horizontal" role="form" action="{% url 'authen:register'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form">
            <div class="c6 noleftmargin" style="padding:0 0 0 0px; " >
              {{ form.first_name }}
            </div>
            <div class="c6 noleftmargin" style="padding:0 0 0 0px; " >
              {{ form.last_name }}
            </div>
            <div class="c12 noleftmargin" style="padding:0 0 0 0px;">
                    {{ form.username }}
                </div>
              <div class="c12 noleftmargin" style="padding:0 0 0 0px;">
            {{ form.password }}
            </div>
            <div class="c12 noleftmargin" style="padding:0 0 0 0px;">
          {{ form.confirm_password }}
          </div>

            <div class="c12 noleftmargin" style="padding:0 0 0 0px;">
            <p><input class="btn2 btn2-main btn-lg glyphicon " name="but1" type="submit" value="Create New Account" /></p>
            </div>
          </div>
        </form>
				</div>
			</div>
		</div>

{% endblock %}

{% block footer %}
	<!-- Bottom footer -->
		<div class="footer-bottom" style="background-color:#FFF;">
	 		  <div class="wrap" style="height:40px;">
	     	  	<div class="copy">
				   <h1 style="font-size:13px; color:#000;"> <a href="#" target="_blank"></a>Aria&copy; 2017</h1>
			    </div>
			    <div class="clear"></div>
			  </div>
       </div>
{% endblock %}
