{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Title for page -->
<title>Login/Register-Aria</title>

<link rel="stylesheet" type="text/css" href="{% static 'music/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'music/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'music/css/font-awesome.min.css' %}" />
              <!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'music/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/custom.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/contact.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/vertical.css' %}" />

		   <!-- Custom Fonts & Icons -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'music/css1/style2.css' %}" />
<link rel="stylesheet" href="{% static 'music/css1/main.css' %}" />
<link rel="stylesheet" href="{% static 'music/css1/style.css' %}"  media="all" />
<link rel="stylesheet" href="{% static 'music/css1/theme.css' %}" />
<link rel="stylesheet" href="{% static 'music/css1/styled.css' %}" />
<link rel="stylesheet" href="{% static 'music/css1/custom-styles.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/headersocial.css' %}" />

<!-- Custom Fonts -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

<!-- Javascript -->
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'music/js/jquery.roundabout-1.0.min.js' %}"></script>
	<script type="text/javascript" src="/my_admin/jsi18n/"></script>
	<script type="text/javascript" src="/media/admin/js/core.js"></script>

 </head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background-color:white;">



        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
	<a class="navbar-brand" style="margin-top:-10px;" href="#"><img src="{% static 'music/img/arialogo.png' %}"></a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-left navbar-main-collapse">
	     <ul class="nav navbar-nav " >
		     <li class=""><a href="#">HOME</a> </li>
			    <li class="dropdown">
			       <a href="#" class="dropdown-toggle"
				    data-toggle="dropdown"> Albums
					<b class="caret"> </b>
					 <ul class="dropdown-menu">
					   <li><a href="#"> Featured</a> </li>
					   <li><a href="#"> Latest</a> </li>
                                            <li><a href="#"> Browse</a> </li>
					 </ul>
			   </li>
			   <li class="dropdown">
			       <a href="#" class="dropdown-toggle"
				    data-toggle="dropdown"> Artists
					<b class="caret"> </b>
					 <ul class="dropdown-menu">
				   <li><a href="#"> Featured</a> </li>
					   <li><a href="#"> Latest</a> </li>
                                            <li><a href="#"> Browse</a> </li>
					 </ul>
			   </li>
			    <li class="dropdown">
			       <a href="#" class="dropdown-toggle"
				    data-toggle="dropdown"> Songs
					<b class="caret"> </b>
					 <ul class="dropdown-menu">
				   <li><a href="#"> Featured</a> </li>
					   <li><a href="#"> Latest</a> </li>
                                            <li><a href="#"> Browse</a> </li>
					 </ul>
			   </li>
			   </div>
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
	     <ul class="nav navbar-nav " >
			   <li class=""><a href="#">Login/Register</a> </li>
			   <li class=""><a href="#">About</a> </li>
		   </ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>




	<!-- Intro Header -->


	<div class="row">
<div class="share-it">
	<div class="facebook" style="background-image:url('{% static 'music/img/fb1.png' %}'); margin-bottom:5px; border-radius:15px;">
	 <a href="#"><i class="fa fa-facebook" ></i></a>
	</div>
	<div class="twitter" style="background-image:url('{% static 'music/img/tw1.png' %}'); margin-bottom:5px; border-radius:15px;">
	 <a href="#"><i class="fa fa-twitter"></i></a>
	</div>
	<div class="google hidden-xs" style="background-image:url('{% static 'music/img/pin1.png' %}'); margin-bottom:5px; border-radius:15px;">
	 <a href="#"><i class="fa fa-google-plus"></i></a>
	</div>
	<div class="rss" style="background-image:url('{% static 'music/img/rss1.png' %}'); margin-bottom:5px; border-radius:15px;" >
	 <a href="#"><i class="fa fa-rss"></i></a>
	</div>
	<div class="linkedin" style="background-image:url('{% static 'music/img/li1.png' %}'); margin-bottom:5px; border-radius:15px;">
	 <a href="#"><i class="fa fa-linkedin"></i></a>
	</div>
	<div class="youtube cboxElement" style="background-image:url('{% static 'music/img/vm1.png' %}'); margin-bottom:5px; border-radius:15px;">
	 <a href="#"><i class="fa fa-youtube"></i></a>
	</div>
	</div>
</div>

	<div class="footer-bottom" style="background-color:#F44; margin-top:80px;">
	 		  <div class="wrap" >
			  <div class="row">
			  <div class="c2 noleftmargin" style="margin-top:45px;" >
			  	   <h1 style="font-size:30px; color:#000;"> <a href="#" target="_blank"></a>Aria</h1>
				   </div>


           <form class="form-horizontal"  role="form" style=" margin-left:50%; margin-right:-10%;" action="{% url 'authen:login'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="c5 noleftmargin">
                        <input id="id_username" maxlength="30" name="username" type="text" placeholder="Username">
                    </div>

                    <div class="c5 noleftmargin">
                        <input id="id_password" maxlength="30" name="password" type="password" placeholder="Password">
                    </div>

                <div class="form-group">
                    <div class="c2 noleftmargin" style="margin-top:10px;">
                        <p><input class="btn2 btn2-main btn-lg glyphicon " name="but1" type="submit" value="Login" /></p>
                    </div>
                </div>
            </form>



       </div>
	    </div>
	   </div>

				<div class="grid" style="margin-top:40px; margin-left:10%; margin-bottom:60px;">

		<div class="row space-top">
			<!-- CONTACT FORM -->

			<div class="c8 space-top" style="width:42%; margin-right:30px;">
				<h1 class="maintitle" >
				<span><i></i> Why Aria?</span>
				</h1>
				<p>
					The  users  of  Aria  can  listen  to  any  music  available  in  theapplication and create their own custom playlists to share withthe world. The users can also listen to playlists of other users todiscover new music.
					<br><br>
					The playlist can be upvoted by users andthe top playlists will be featured in the application. The results will be published atthe end of each week and new top songs and playlists will befeatured for the next week
				</p>
			</div>

			<div class="c8 space-top" style="width:50%;">
				<h3 style=" font-size:20px;" class="maintitle">
				<span></i> Register</span>
				</h3>
				<div class="wrapcontact">
          {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
          <form class="form-horizontal" role="form" action="{% url 'authen:register'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form">
            <div class="c6 noleftmargin" style="padding:0 0 0 0px; " >
              {{ form.first_name }}
            </div>
            <div class="c6 noleftmargin" style="padding:0 0 0 0px; " >
              {{ form.last_name }}
            </div>
            <div class="c12 noleftmargin" style="padding:0 0 0 0px;">
                {{ form.username }}
            </div>
			  <div class="c12 noleftmargin" style="padding:0 0 0 0px;">
                {{ form.email }}
            </div>
              <div class="c12 noleftmargin" style="padding:0 0 0 0px;">
            {{ form.password }}
            </div>
            <div class="c12 noleftmargin" style="padding:0 0 0 0px;">
          {{ form.confirm_password }}
          </div>

            <div class="c12 noleftmargin" style="padding:0 0 0 0px;">
            <p><input class="btn2 btn2-main btn-lg glyphicon " name="but1" type="submit" value="Create New Account" /></p>
            </div>
          </div>
        </form>
				</div>
			</div>
		</div>



	<!-- Bottom footer -->
		<div class="footer-bottom" style="background-color:#FFF;">
	 		  <div class="wrap" style="height:40px;">
	     	  	<div class="copy">
				   <h1 style="font-size:13px; color:#000;"> <a href="#" target="_blank"></a>Aria&copy; 2017</h1>
			    </div>
			    <div class="clear"></div>
			  </div>
       </div>



			 <script src="{% static 'music/js/jquery.min.js' %}"></script>
	 <!-- Include all compiled plugins (below), or include individual files as needed -->
	 <script src="{% static 'music/js/bootstrap.min.js' %}"></script>

 <!-- Scrolling Nav JavaScript -->
	 <script src="{% static 'music/js/jquery.easing.min.js' %}"></script>
	 <script src="{% static 'music/js/scrolling-nav.js' %}"></script>



    </body>
</html>
