{% extends 'sitearia/base1.html' %}
{% load staticfiles %}
{% block title %}
Home
{% endblock %}

{% block content %}
	<!-- Intro Header -->
	<header class="intro" style="background-image:url('{% static 'music/img/ariagiff.gif' %}'); background-size:cover; height:400px;">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="brand-heading" style="margin-left:35%; margin-top:30%;">
						<h1 style="color:#000; font-size:20px;">Redefining The way You Listen</h1>
					</div>
				</div>
			</div>
		</div>
	</header>



				  <form role="search" method="get" action="{% url 'index1' %}" style="padding:10px 350px; margin-left:7%;">

						<div class="form">
							<div class="c8 noleftmargin">
                  <input type="text" class="form-control" placeholder="Search for songs, albums, artists, playlists..." name="q" value="{{ request.GET.q }}">
								</div>
								<div class="c4 noleftmargin" style="margin-top:5px;">
											<input type="submit" class="btn2 btn2-main btn-lg " value="Search">
								</div>
							</div>
						</form>


{% endblock %}
