{% load staticfiles %}
<!-- BEGIN STYLESHEETS -->
<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/bootstrap.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/materialadmin.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/font-awesome.min.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/material-design-iconic-font.min.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/libs/rickshaw/rickshaw.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/libs/morris/morris.core.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/libs/toastr/toastr.css' %}" />

<!-- END STYLESHEETS -->
